<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>器官捐贈卡簽署 新註冊使用者</h2>
    <p>
      姓名：<%= @userdata[:username] %>
    </p>
    <p>
      生日：<%= @userdata[:birthdate] %>
    </p>
    <p>
      身分證字號：<%= @userdata[:idno] %>
    </p>
    <p>
      聯絡電話：<%= @userdata[:tel] %>
    </p>
    <p>
      地址：<%= @userdata[:address] %>
    </p>
    <p>
      生日：<%= @userdata[:birthdate] %>
  </body>
</html>