<div class="reg-container">
    <!-- Main component for a primary marketing message or call to action -->
        <div id="take-action-div">
            <div class="action-steps step-type-1">
                <img class="step-icon" src="../../assets/sign2.png">
                <!-- <div class="circle-base ctype-1 step-icon">
                    <img src="../../assets/sign2.png">
                </div> -->
                <div class="step-content">
                    <h3>簽署「器官捐贈同意卡」</h3>
                    <p>
                        表達器官捐贈意願，實務上尚無法條保障，也就是說，您的親屬有權拒絕醫生捐贈您的器官。<br>
                        但是，僅是表達對器官捐贈的意願，對於即是相當重要的支持。
                    </p>
                </div>
                <!-- <p class="load-more">立刻簽署&nbsp;&nbsp; -->
                <!-- <a href="" class="scroller-arrow"></a> -->
            </div>
            <div class="action-steps step-type-2">
                <img class="step-icon" src="../../assets/regi.png">
                <!-- <div class="circle-base ctype-1 step-icon">

                </div> -->
                <div class="step-content">
                    <h3>登錄於「健保IC卡」</h3>
                    <p>
                        將「器官捐贈意願」加註於全民健康保險憑證(健保IC卡)，此為「具法律效力之同意」，與私下意願的表達全然不同。 <br>
                        請務必閱讀<a href="http://www.organ.org.tw/">此說明</a>。
                    </p>
                </div>
                <!-- <a href="" class="scroller-arrow"></a> -->
            </div>
            <div class="action-steps step-type-3">
                <img class="step-icon" src="../../assets/conv.png">
                <!-- <div class="circle-base ctype-1 step-icon">
                    <img src="../../assets/conv.png">
                </div> -->
                <div class="step-content">
                    <h3>與最親的家人溝通</h3>
                    <p>
                        就，溝通 <3
                    </p>
                </div>
                <!-- <a href="" class="scroller-arrow"></a> -->
            </div>
        </div>
        <div class="reg-div">
        <%= form_for :article, url: {action: "send_reg"}, html: {class: "reg-form"} do |f| %>
            <div class="form-group">
                <%= f.label :cardno, "器捐同意卡卡號" %>
                <%= f.text_field :cardno, :class => "form-control", :placeholder => "新申請者免填" %>
            </div>
            <div class="form-group">
                <div class="inline-div-1">
                    <%= f.label :username, "姓名" %>
                    <%= f.text_field :username, :class => "form-control" %>
                </div>
                <div class="inline-div-1">
                    <%= f.label :gender, "性別" %>
                    <div class="form-control gender-radio horiz-radio">
                        <%= f.label :male, "男" %>
                        <%= f.radio_button :sex, "male" %>
                    </div>
                    <div class="form-control gender-radio horiz-radio">
                        <%= f.label :female, "女" %>
                        <%= f.radio_button :sex, "female" %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :birthdate, "生日" %>
                <%= f.text_field :birthdate, :class => "form-control bdate-input", :placeholder => "yyyy/mm/dd" %>
            </div>
            <div class="form-group">
                <div class="inline-div-1">
                    <%= f.label :nation, "國籍" %>
                    <div class="form-control nation-radio horiz-radio">
                        <%= f.label :home, "本國" %>
                        <%= f.radio_button :nation, "home", :checked => true %>
                    </div>
                    <div class="form-control nation-radio horiz-radio">
                        <%= f.label :foreign, "外國" %>
                        <%= f.radio_button :nation, "foreign" %>
                    </div>
                </div>
                <div class="inline-div-1">
                    <%= f.label :idno, "身分證字號" %>
                    <%= f.text_field :idno, :class => "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :tel, "聯絡電話" %>
                <%= f.text_field :tel, :class => "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :address, "通訊地址" %>
                <%= f.text_field :pcode, :class => "form-control postal-code", :placeholder => "郵遞區號" %>
                <span>-</span>
                <%= f.text_field :address, :class => "form-control address" %>
            </div>
            <div class="form-group">
                <%= f.label :email, "電子郵件" %>
                <%= f.text_field :email, :class => "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :addic, "健保卡加註意願" %>
                <div class="form-control ic-radio horiz-radio">
                    <%= f.label :yesic, "同意" %>
                    <%= f.radio_button :addic, "yesic"%>
                </div>
                <div class="form-control ic-radio horiz-radio">
                    <%= f.label :noic, "不同意" %>
                    <%= f.radio_button :addic, "noic" %>
                    <br>
                    <span>
                        為保護您的基本權益，請先仔細閱讀
                        <a href="#section9" id="addic-info">健保卡加註說明</a>。
                    </span>
                </div>
            </div>
            <p>
                <%= f.submit :value => "送出", :class => "btn button" %>
            </p>
        <% end %>
        </div>
</div>